---
layout: base.njk
title: Find My Perfect Destination
---

<section class="container my-5">
  <h1 class="text-center mb-4">Find My Perfect Destination</h1>

  <form id="quiz-form">
    <div id="quiz-questions"></div>

<div class="text-center mt-4">
  <button type="submit" class="btn btn-primary">See My Results</button>
</div>


  </form>

  <div id="quiz-result" class="mt-5"></div>
</section>

<script src="/assets/quiz.js"></script>
